<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div style="text-align: center">
  <h1>Welcome</h1>
  
  <h3>This website was created as a project for the <br><a href="https://www.challenge.gov/challenge/congressional-data-competition/">Congressional Data Challenge</a> posted by the <a href="https://www.challenge.gov/agency/legislative-branch/library-of-congress/">US Library of Congress</a></h3>

  <h3>This project was created using Angular <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/250px-Angular_full_color_logo.svg.png" width="40px" height="40px"></h3>

  <h3>Use the Home <button mat-mini-fab color="accent"><mat-icon>account_balance</mat-icon></button> button at the top to navigate to the Dashboard</h3>
</div>