<mat-tab-group>
  <mat-tab label="Senate">
    <app-senate-members></app-senate-members>
  </mat-tab>
  
  <mat-tab label="House">
    <app-house-members></app-house-members>
  </mat-tab>

  <mat-tab label="Recently Voted Bills">
    <app-recent-votes></app-recent-votes>
  </mat-tab>

  <mat-tab label="Recently Introduced Bills">
    <app-recent-introduced></app-recent-introduced>
  </mat-tab>

  <!-- <mat-tab label="Search Bills">
    <app-search-bills></app-search-bills>
  </mat-tab> -->
</mat-tab-group>