.intro-card {
    position: relative;
    width: 80%;
    margin: auto;
}

.house-table {
    position: relative;
    width: 80%;
    margin: auto;
}

.table-header {
    margin-left: 25px;
}

.mat-column-select {
    overflow: initial;
}